<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Restaurant App</title>
</head>
<body>
    <h1>Welcome to the Restaurant Management App</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('front_dashboard') }}">Front Dashboard</a></li>
            <li><a href="{{ url_for('kitchen_dashboard') }}">Kitchen Dashboard</a></li>
            <li><a href="{{ url_for('new_order') }}">Create New Order</a></li>
        </ul>
    </nav>
</body>
</html>
