<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Create New Order</title>
</head>
<body>
    <h1>Create New Order</h1>
    
    <form method="POST">
        <label for="table_number">Select Table Number:</label>
        <select name="table_number" id="table_number">
            {% for table_number, status in tables.items() %}
                {% if status == "Free" %}
                    <option value="{{ table_number }}">Table {{ table_number }}</option>
                {% endif %}
            {% endfor %}
        </select>
        
        <h2>Select Pizza Types</h2>
        <label>Margherita: <input type="number" name="pizza_choice[Margherita]" min="0" value="0"></label><br>
        <label>Prosciutto: <input type="number" name="pizza_choice[Prosciutto]" min="0" value="0"></label><br>
        <label>Pepperoni: <input type="number" name="pizza_choice[Pepperoni]" min="0" value="0"></label><br>
        <label>Patron: <input type="number" name="pizza_choice[Patron]" min="0" value="0"></label><br>
        
        <button type="submit">Place Order</button>
    </form>
    
    <nav>
        <a href="{{ url_for('front_dashboard') }}">Back to Front Dashboard</a>
    </nav>
</body>
</html>
