<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <title>Menu</title>
</head>
<body>
    <header>
        <a href="{{ url_for('menu_page', table=table) }}">
            <button class="menu">Menu</button>
        </a>
        
        <a href="{{ url_for('order_overview', table=table) }}">
            <button class="order-overview">Order overview</button>
        </a>
        
        <a href="{{ url_for('order_status', table=table) }}">
            <button class="order-status">Order status</button>
        </a>
        
    </header>
    <img src="{{ url_for('static', filename='images/logo-removebg-preview.png') }}" alt="logo">
    <h1>Menu - Table {{ table }}</h1>
    <form action="{{ url_for('menu_page', table=table) }}" method="post">
        {% for pizza in menu %}
            <div>
                <img src="{{ url_for('static', filename='images/' ~ pizza.name | lower ~ '.png') }}" alt="{{ pizza.name }}" style="width: 150px; height: auto;">
                <h4>{{ pizza.name }}</h4>
                <p>{{ pizza.description }}</p>
                <p>Price: &euro;{{ pizza.price }}</p>
                <label>
                    <input type="checkbox" name="selected_pizza" value="{{ pizza.name }}">
                    Select this pizza
                </label>
                <label for="quantity_{{ pizza.name }}">Quantity:</label>
                <input type="number" id="quantity_{{ pizza.name }}" name="quantity_{{ pizza.name }}" min="0" placeholder="0">
            </div>
            <br>
        {% endfor %}
    </form>
    <button type="submit">Place Order for Table {{ table }}</button>
</body>
</html>
