<!-- menu.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <header>
        <a href="/menu">Menu</a>
        <a href="/order/overview">Order overview</a>
        <a href="/order/status">Order status</a>
    </header>
    <h1>Menu</h1>
    <form action="/menu" method="post">
        {% for pizza in menu %}
            <div>
                <img src="static/images/{{ pizza.name | lower }}.png" alt="{{ pizza.name }}">
                <h4>{{ pizza.name }}</h4>
                <p>Description: {{ pizza.description }}</p>
                <p>Price: &euro;{{ pizza.price }}</p>
                <label for="quantity_{{ pizza.name }}">Quantity:</label>
                <input type="text" id="quantity_{{ pizza.name }}" name="quantity" placeholder="Enter the quantity...">
                <input type="hidden" name="pizza_name" value="{{ pizza.name }}">
            </div>
            <br>
        {% endfor %}
        <button type="submit">Next</button>
    </form>
</body>
</html>
