<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luigi orders</title>
</head>
<body>
    <header>
        <h1>Orders</h1>
    </header>
    
    <ul>
        {% if luigi_orders['client'] %}
            {% for order in luigi_orders['client'] %}
                <li>{{ order.quantity }}x {{ order.name }} - &euro;{{ '%.2f' % (order.price * order.quantity) }}</li>
            {% endfor %}
        {% else %}
            <li>No orders found.</li>
        {% endif %}
    </ul>

    <ul>
        {% if luigi_orders['mario'] %}
            {% for order in luigi_orders['mario'] %}
                <li>{{ order.quantity }}x {{ order.name }} - &euro;{{ '%.2f' % (order.price * order.quantity) }}</li>
            {% endfor %}
        {% else %}
            <li></li>
        {% endif %}
    </ul>
</body>
</html>
