<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luigi orders</title>
</head>
<body>
    <header>
        <h1>Orders</h1>
    </header>
    {% for order in orders %}
    <ul>
        <li>
            {% if order.quantity > 0 %}
                <p>{{order.quantity}}x {{order.name}} </p>
                {% else %}
                <p>No orders</p>
            {% endif %}
        </li>
    </ul>
    {% endfor %}
</body>
</html>