<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/luigi_orders.css') }}">
    <title>Luigi orders</title>
</head>
<body>
    <header>
        <h1>Orders</h1>
    </header>
    {% if orders | selectattr('status', 'equalto', 'Preparing') | list %}
        <ul>
            {% for order in orders %}
                {% if order.quantity > 0 and order.status == "Preparing" %}
                    <li>
                        <p>{{order.quantity}}x {{order.name}} </p>
                        <p>{{order.description}}</p>
                        <form action="{{ url_for('delete_order', index=loop.index0) }}?from_page=luigi" method="post" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <div class="no-orders">No orders</div>
    {% endif %}
</body>


</html>