<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mario orders</title>
</head>
<body>

    <h2>Orders</h2>
    <a href="/mario/order/overview"><button>Overview</button></a>
    
    <h2>Orders</h2>
    <div>
        <h3>Table 1</h3>
        <p>No orders yet.</p>
    </div>
    <div>
        <h3>Table 2</h3>
        <p>No orders yet.</p>
    </div>
    <div>
        <h3>Table 3</h3>
        <p>No orders yet.</p>
    </div>
    <div>
        <h3>Table 4</h3>
        <p>No orders yet.</p>
    </div>
    </div>

    <img src="static/images/Pepperoni-Margherita-Pizza-removebg-preview.png" alt="pizza1">
    <h4>Pepperoni</h4>
    <p>Hand-tossed dough, house-made tomato sauce, mozzarella cheese, and savory pepperoni.</p>
    <h3>€13.10</h3>
    <input type="text" id="counter" name="counter" placeholder="Enter the quantity...">
    <br>

    <img src="static/images/marga1-removebg-preview.png" alt="pizza2">
    <h4>Margherita</h4>
    <p>Hand-tossed dough, tomato sauce, fresh mozzarella, vine-ripened tomatoes, fresh basil, and extra virgin olive oil.</p>
    <h3>€12.95</h3>
    <input type="text" id="counter" name="counter" placeholder="Enter the quantity...">
    <br>

    <img src="static/images/Prosciutto-Arugula-Pizza-recipe-photo-0198-removebg-preview.png" alt="pizza3">
    <h4>Prosciutto</h4>
    <p>Hand-tossed dough, tomato sauce, fresh mozzarella, thinly sliced prosciutto, arugula, shaved Parmesan, and extra virgin olive oil.</p>
    <h3>€16.70</h3>
    <input type="text" id="counter" name="counter" placeholder="Enter the quantity...">
    <br>

    <img src="static/images/patrona-supreme.webp" alt="pizza4">
    <h4>Patron</h4>
    <p>Hand-stretched dough, tomato sauce, mozzarella cheese, pepperoni, Italian sausage, green bell peppers, red onions, mushrooms, and black olives.</p>
    <h3>€23.99</h3>
    <input type="text" id="counter" name="counter" placeholder="Enter the quantity...">
    <br>

</body>
</html>