<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mario order overview</title>
</head>
<body>
    <header>
        <h1>Order overview</h1>
        <button>Order</button>
    </header>
    <table>
        <thead>Preparing</thead>
        {% for order in orders %}
        <tbody>
            <tr>
                <th>{{order.quantity}}x {{order.name}}</th>
                <td>{{order.timer}}</td>
                <td>{{order.table}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <table>
        <thead>Ready</thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <th>{{order.quantity}}x {{order.name}}</th>
                <td>Table: {{order.table}}</td>
                <td>
                    <form action="{{ url_for('delete_order', index=loop.index0) }}?from_page=mario" method="post" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>