<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mario.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <meta http-equiv="refresh" content="13">
    <title>Mario Order Overview</title>
</head>
<body>
    <div class="button-container">
        <a href="{{ url_for('mario_orders_page') }}" class="redButton">Order</a>
    </div>
    <header>
        <h1>Overview</h1>
    </header>
    <main>
        <div class="order-container">
            <!-- Preparing Orders -->
            <div class="order-box">
                <h2>Preparing</h2>
                <table>
                    <tbody>
                        {% for order in orders %}
                            {% if order.status == "Preparing" %}
                            <tr>
                                <td>{{ order.quantity }}x {{ order.name }} - </td>
                                <td>Table {{ order.table }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        {% if not orders %}
                        <tr>
                            <td colspan="2">No orders are currently being prepared.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

            <!-- Ready Orders -->
            <div class="order-box">
                <h2>Ready</h2>
                <table>
                    <tbody>
                        {% for order in ready_orders %}
                            <tr>
                                <td>{{ order.name }} - </td>
                                <td>Table {{ order.table }}</td>
                                <td>
                                    <form action="{{ url_for('delete_order', index=loop.index0) }}?from_page=mario" method="post">
                                        <button type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if not ready_orders %}
                        <tr>
                            <td colspan="3">No orders are ready.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>
</html>
