<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mario orders</title>
</head>
<body>

    <label for="table">Select Table:</label>
    <select name="table" id="table">
      <option value="table1">Table 1</option>
      <option value="table2">Table 2</option>
      <option value="table3">Table 3</option>
      <option value="table4">Table 4</option>
    </select>

    <br><br>
    
    <form action="#" method="post">
        <label for="pepperoni">Pepperoni:</label>
        <input type="number" name="pepperoni" id="pepperoni" min="0" placeholder="Enter quantity">
    
        <br><br>
    
        <label for="margherita">Margherita:</label>
        <input type="number" name="margherita" id="margherita" min="0" placeholder="Enter quantity">
    
        <br><br>
    
        <label for="prosciutto">Prosciutto:</label>
        <input type="number" name="prosciutto" id="prosciutto" min="0" placeholder="Enter quantity">
    
        <br><br>
    
        <label for="patron">Patron:</label>
        <input type="number" name="patron" id="patron" min="0" placeholder="Enter quantity">
    
        <br><br>
    
        <input type="submit" value="Submit Order">
      </form>

</body>
</html>