<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Status</title>
</head>
<body>
    <header>
        <a href="{{ url_for('menu_page', table=table) }}"><button>Menu</button></a>
        <a href="{{ url_for('order_overview', table=table) }}"><button>Order overview</button></a>
        <a href="{{ url_for('order_status', table=table) }}"><button>Order status</button></a>
    </header>

    <img src="{{ url_for('static', filename='images/logo-removebg-preview.png') }}" alt="logo">
    <h2>Order Status</h2>

    {% for order in orders %}
        <div>
            {{ order.quantity }}x {{ order.name }} - {{ order.status }}
        </div>
    {% endfor %}

</body>
</html>