<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/overview.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <meta http-equiv="refresh" content="13">
    <title>Order Status</title>
</head>
<body>
    <header>
        <a href="{{ url_for('menu_page', table=table) }}"><button class="menu">Menu</button></a>
        <a href="{{ url_for('order_overview', table=table) }}"><button class="order-overview">Order overview</button></a>
        <a href="{{ url_for('order_status', table=table) }}"><button class="order-status">Order status</button></a>
    </header>

    <img src="{{ url_for('static', filename='images/logo-removebg-preview.png') }}" alt="logo">
    <h1>Order Status</h1>

    <div class="list">
        {% for order in orders %}
            <div class="item">
                <p class="font">{{ order.quantity }}x {{ order.name }}</p>
                <p class="font"> {{ order.status }}</p>
            </div>
    {% endfor %}
</div>
</body>
</html>