<!DOCTYPE html>
<head>
    <title>Order status</title>
</head>
<body>
    <div>
        <a href="/menu"><button>Menu</button></a>
        <a href="/order/overview"><button>Order overview</button></a>
        <a href="/order/status"><button>Order status</button></a>
    </div>

    <img src="static/images/logo-removebg-preview.png">

    <h2>Order status</h2>

    </div>
    {% for order in orders %}
    <div>
        {{ order.quantity }}x {{ order.name }}
        {% if order.status == 'Preparing' %}<img src="/static/images/clock-removebg-preview.png">{% else %}<img src="/static/images/check-removebg-preview.png">{% endif %} {{ order.status }}
    </div>
    {% endfor %}
    <br>


    <div>
        <a href="/payment"><button>Back</button></a>
    </div>
</body>
</html>
