<!DOCTYPE html>
<head>
    <title>Choose Payment Method</title>
</head>
<body>
    <div>
        <a href="/menu"><button>Menu</button></a>
        <a href="/order/overview"><button>Order overview</button></a>
        <a href="/order/status"><button>Order status</button></a>
    </div>

    <img src="img_chania.jpg" >

    <h2>Choose payment method</h2>

    <div>
        <button id="card">Card</button>
        <button id="cash">Cash</button>
    </div>

    <div>
        <a href="/menu"><button>Back</button></a>
        <button>Pay</button>
    </div>
</body>
</html>
