<!DOCTYPE html>
<head>
    <title>Choose Payment Method</title>
</head>
<body>
    <header>
        <a href="{{ url_for('menu_page', table=table) }}"><button>Menu</button></a>
        <a href="{{ url_for('order_overview', table=table) }}"><button>Order overview</button></a>
        <a href="{{ url_for('order_status', table=table) }}"><button>Order status</button></a>
    </header>

    <img src="{{ url_for('static', filename='images/logo-removebg-preview.png') }}">

    <h2>Choose payment method</h2>

    <div>
        <button id="card">Card</button>
        <button id="cash">Cash</button>
    </div>

    <div>
        <a href="{{ url_for('order_overview', table=table) }}"><button>Back</button></a>
        <a href="{{ url_for('order_status', table=table) }}"><button>Pay</button></a>
    </div>
</body>
</html>
