<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <title>Choose Payment Method</title>
</head>
<body>
    <header>
        <a href="{{ url_for('menu_page', table=table) }}"><button class="menu">Menu</button></a>
        <a href="{{ url_for('order_overview', table=table) }}"><button class="order-overview">Order overview</button></a>
        <a href="{{ url_for('order_status', table=table) }}"><button class="order-status">Order status</button></a>
    </header>

    <img src="{{ url_for('static', filename='images/logo-removebg-preview.png') }}">

    <h1>Choose payment method</h1>

    <div>
        <button id="card" class="payment">Card</button>
        <button id="cash" class="payment">Cash</button>
    </div>

    <div class="button-container">
        <a href="{{ url_for('order_overview', table=table) }}"><button class="redButton">Back</button></a>
        <a href="{{ url_for('order_status', table=table) }}"><button class="greenButton">Pay</button></a>
    </div>
</body>
</html>
